# coding: utf-8

"""
ContentFavoriteApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ContentFavoriteApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def content_favorite(self, content_favorite_id, **kwargs):
        """
        Get Favorite Content
        ### Get favorite content by its id

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.content_favorite(content_favorite_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int content_favorite_id: Id of favorite content (required)
        :return: ContentFavorite
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_favorite_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method content_favorite" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'content_favorite_id' is set
        if ('content_favorite_id' not in params) or (params['content_favorite_id'] is None):
            raise ValueError("Missing the required parameter `content_favorite_id` when calling `content_favorite`")

        resource_path = '/content_favorite/{content_favorite_id}'.replace('{format}', 'json')
        path_params = {}
        if 'content_favorite_id' in params:
            path_params['content_favorite_id'] = params['content_favorite_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ContentFavorite',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def create_content_favorite(self, **kwargs):
        """
        Create Favorite Content
        ### Create favorite content

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_content_favorite(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ContentFavorite body: Favorite Content
        :return: ContentFavorite
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_content_favorite" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/content_favorite'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ContentFavorite',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_content_favorite(self, content_favorite_id, **kwargs):
        """
        Delete Favorite Content
        ### Delete favorite content

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_content_favorite(content_favorite_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int content_favorite_id: Id of favorite content (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_favorite_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_content_favorite" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'content_favorite_id' is set
        if ('content_favorite_id' not in params) or (params['content_favorite_id'] is None):
            raise ValueError("Missing the required parameter `content_favorite_id` when calling `delete_content_favorite`")

        resource_path = '/content_favorite/{content_favorite_id}'.replace('{format}', 'json')
        path_params = {}
        if 'content_favorite_id' in params:
            path_params['content_favorite_id'] = params['content_favorite_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='str',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def search_content_favorite(self, **kwargs):
        """
        Search Favorite Content
        ### Search Favorite Content\n

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.search_content_favorite(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int user_id: Match User Id
        :return: list[ContentFavorite]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_content_favorite" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/content_favorite/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'user_id' in params:
            query_params['user_id'] = params['user_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[ContentFavorite]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
